<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/image_app_logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onboarding.activity.OnboardingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".sign_in.activity.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".UserEntryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".sign_up.activity.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".reset_password.activity.ResetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".dashboard.activity.DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".learning.activity.SubtopicActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".learning.activity.HiraganaActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".learning.activity.GrammarActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".dictionary.activity.DictionaryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".forum.activity.ForumActivity"
            android:theme="@style/AppTheme.Question"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".quiz.activity.QuizActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".learning.activity.SubtopicQuizActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".dashboard.activity.SelectLevelActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

        <activity
            android:name=".learning.activity.VocabularyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
        </activity>

    </application>

</manifest>